.preset-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  cursor: pointer;
  transition: all .1s linear;

  &:hover {
    background-color: #e3e3e3;

    i {

    }
  }
}

.preset-item__info {
  p {
    margin: 0;
    color: #000;
  }

  em {
    font-size: .8rem;
    word-break: break-all;
  }
}

.preset-item__operation {
  display: flex;
  justify-content: center;
  align-items: center;
}
