.appslider__header {
  display: flex;
  align-items: center;
  padding-left: 5px;
  height: 64px;
  background-color: #1e88e5;
  color: #fff;
  font-size: 1.5rem;
}

.appslider__header__logo {
  width: 45px;
  height: 45px;
  margin-right: 5px;
}

.appslider__footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: .85rem;
}

.appslider__footer__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px 0;
  width: 50%;
  cursor: pointer;
  transition: all .2s linear;
  border-top: 2px solid #b2d1ef;
}

.appslider__footer__item:hover {
  border-top: 2px solid #0b61c5;
  background-color: #f2f2f2;
}

.notie-alert {
  z-index: 1500;
  cursor: pointer;
}
