.logs {
  font-size: .95rem;
}

/* log toolbox */

.logs__toolbox {
  position: fixed;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 10px #b1b1b1;
  width: 100%;
  z-index: 1;
}

.logs__toolbox__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logs__toolbox__line--right {
  justify-content: flex-end;
}

.logs__toolbox__range {
  display: flex;
  align-items: center;
  margin-right: 10px;
  width: 260px;
}

.logs__toolbox__search {
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 260px;
}

/* log legends */

.logs__toolbox__legends {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: .85rem;
}

.logs__toolbox__legends__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logs__toolbox__legends__item__label {
  margin: 10px 5px 2px 5px;
  padding: 3px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  width: 60px;
  text-align: center;
  cursor: pointer;
}

.logs__toolbox__legends__item__indicator {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #4caf50;
}

.logs__toolbox__legends__item__indicator--transparent {
  background-color: transparent;
}

/* log items */

.logs__items {
  position: fixed;
  top: 130px;
  bottom: 0;
  width: 100%;
  overflow: auto;
}

.logs__item {
  padding: 5px 10px;
}

.logs__item p {
  margin: 3px 0 0;
  word-break: break-all;
}

.logs__item__timestamp {
  border-bottom: 1px dotted #777;
  font-size: 95%;
  text-decoration: none;
}

.logs__item__message {
  color: #1c1c1c;
}

/* background colors */

.logs__item--error {
  background-color: #f18565;
}

.logs__item--warn {
  background-color: #ffeaad;
}

.logs__item--info {
  background-color: #f8fbff;
}

.logs__item--verbose {
  background-color: #f8fbff;
}

.logs__item--debug {
  background-color: #93cfff;
}

.logs__item--silly {
  background-color: #f8fbff;
}
