.preset-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  cursor: pointer;
  transition: all .1s linear;
}

.preset-item:hover {
  background-color: #eee;
}

.preset-item__info p {
  margin: 0;
  color: #000;
}

.preset-item__info em {
  font-size: .8rem;
  word-break: break-all;
}

.preset-item__operation {
  display: flex;
  justify-content: center;
  align-items: center;
}
